<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 命名空间 -->
    <typeAliases>
        <!-- 全局参数 -->
        <typeAlias alias="config" type="com.flysnow.sysconfig.model.Config"/>
        <!-- 字典 -->
        <typeAlias alias="dict" type="com.flysnow.sysconfig.model.Dict"/>
        <!-- 字典选项 -->
        <typeAlias alias="dictItem" type="com.flysnow.sysconfig.model.DictItem"/>
    </typeAliases>

    <!-- 映射mapper-->
    <mappers>
        <!-- 全局参数 -->
        <mapper resource="config/mybatis/sysconfig/ConfigMapper.xml"/>
        <!-- 字典 -->
        <mapper resource="config/mybatis/sysconfig/DictMapper.xml"/>
        <!-- 字典选项 -->
        <mapper resource="config/mybatis/sysconfig/DictItemMapper.xml"/>
    </mappers>
</configuration>
