.shape{text-align:center;color:#fff;line-height:100px;position:relative;left:50%;margin-left:-100px;border-bottom:4px solid rgba(0,0,0,0.1) ;
  cursor:pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; display: block;}
.square{width:120px;height:120px;text-align:center;color:#fff;position:relative;left:50%;margin-left:-50px;padding-top:30px;border-bottom:4px solid rgba(0,0,0,0.1) ; cursor:pointer;}
.squareAdd{width:80px;height:100px;line-height:100px;}
.square i{position:relative; bottom:5px;opacity:0.8;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;color:#fff;font-size:50px;}
.shape i{position:absolute;color:rgba(0, 0, 0, 0.15);font-size:50px;}
.shape:hover i{font-size:55px;}
.square:hover i{font-size:55px;}
.shape span{display:inline-block;margin-left:50px;}
.number{font-size:26px;}
.number i{font-size:12px;position:relative;top:-5px;}
.list>div{margin-left:20px;margin-right:40px;}
.progressPart{position:relative;}
.progress{margin-left:10px;margin-right:70px;background-color:#d9d9d9;}
.progressTitle{height:30px;line-height:30px;padding-left:15px;}
.progressTitle i{font-size:12px;}
.progressTotal{position:absolute;right:10px;top:35px;width:50px;text-align:left;}
.fangda{transform: scale(1.2) translateY(0px); }
.changeSize{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out; cursor:pointer;font-size:80px;}
.changeSize:hover{font-size:85px;}

.spanel {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  height:130px;
  color:#fff;
}
.spanel .text{
    position: absolute;
    right: 80px;
    top: 47px;
    font-size: 22px;
    font-family: "微软雅黑";
}
.spanel .icon{
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.spanel .icon span{
	font-size: 14px;
}
.spanel:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.spanel:hover .icon {
  font-size: 95px;
}
.red{background:#ff6663;}
.fleetBlue{background:#67d3e0;}
.blue{background:#638fff;}
.yellow{background:#ffbc06;}
.orange{background:#ff8534;}
.deepPurple{background:#675f99;}
.green{background:#c3d62d;}
.deepBlue{background:#535d84;}
.redText{color:#ff6663;}
.fleetBlueText{color:#67d3e0;}
.blueText{color:#638fff;}
.yellowText{color:#ffbc06;}
.orangeText{color:#ff8534;}
.deepPurpleText{color:#675f99;}
.greenText{color:#c3d62d;}
.deepBlueText{color:#535d84;}
.slide{text-align:center;margin-top:20px;cursor:pointer;}
.pb35{padding-bottom:35px;}
.box-mt{margin-top:10px;} /*多列布局上只有上边距*/
.box-mb{margin-bottom:10px !important;} /*多列布局只有下边距*/
.box-pl{padding-left:10px;}
.topStyle{margin:0px;padding:0px !important;}
.topStyle li{float:left;margin-right:50px;}
.topStyle li label{font-weight:normal;}
.topStyle li span{display:inline-block;text-align:left;margin-right:10px;line-height:36px;}
.fw-normal label{font-weight:normal;}