<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.authority.dao.FunctionPermissionDao">

	<sql id="FunctionPermissionWhere">
		<if test="functionId != null">
            AND a.function_id=#{functionId}
		</if>
		<if test="functionPermissionCode != null">
            AND a.function_permission_code=#{functionPermissionCode}
		</if>
		<if test="functionPermissionName != null">
            AND a.function_permission_name=#{functionPermissionName}
		</if>
	</sql>
	
	<sql id="FunctionPermissionModifyWhere">
		<if test="where.functionId != null">
            AND function_id=#{where.functionId}
		</if>
		<if test="where.functionPermissionCode != null">
            AND function_permission_code=#{where.functionPermissionCode}
		</if>
		<if test="where.functionPermissionName != null">
            AND function_permission_name=#{where.functionPermissionName}
		</if>
	</sql>
	
	<insert id="insertFunctionPermission" parameterType="functionPermission">
		INSERT INTO auth_function_permission (
        <trim prefix="" suffixOverrides=",">
			<if test="functionId != null">
				function_id,
			</if>
			<if test="functionPermissionCode != null">
				function_permission_code,
			</if>
			<if test="functionPermissionName != null">
				function_permission_name,
			</if>
		</trim>
		) VALUES (
        <trim prefix="" suffixOverrides=",">
	       	<if test="functionId != null">
				#{functionId},
			</if>
	       	<if test="functionPermissionCode != null">
				#{functionPermissionCode},
			</if>
	       	<if test="functionPermissionName != null">
				#{functionPermissionName},
			</if>
		</trim>
		)
	</insert>

    <delete id="deleteFunctionPermission" parameterType="functionPermission">
        DELETE FROM auth_function_permission
        <where>
            <include refid="FunctionPermissionModifyWhere" />
        </where>
    </delete>

    <update id="updateFunctionPermission" parameterType="functionPermission">
		UPDATE auth_function_permission
        <set>
			<if test="functionId != null">
				function_id=#{functionId},
			</if>
			<if test="functionPermissionCode != null">
				function_permission_code=#{functionPermissionCode},
			</if>
			<if test="functionPermissionName != null">
				function_permission_name=#{functionPermissionName},
			</if>
		</set>
        <where>
			<include refid="FunctionPermissionModifyWhere" />
		</where>
	</update>

    <!-- 功能权限 (单条查询) -->
    <resultMap id="FunctionPermissionResult" type="functionPermission">
		<result column="function_id" property="functionId"/>
		<result column="function_permission_code" property="functionPermissionCode"/>
		<result column="function_permission_name" property="functionPermissionName"/>
    </resultMap>
    <select id="getFunctionPermission" resultMap="FunctionPermissionResult" parameterType="functionPermission" >
        SELECT
			a.function_id,
			a.function_permission_code,
			a.function_permission_name
        FROM auth_function_permission a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="FunctionPermissionWhere" />
        </trim>
    </select>

    <!-- 功能权限 (列表查询) -->
    <resultMap id="FunctionPermissionListResult" type="functionPermission">
		<result column="function_id" property="functionId"/>
		<result column="function_permission_code" property="functionPermissionCode"/>
		<result column="function_permission_name" property="functionPermissionName"/>
    </resultMap>
	<select id="getFunctionPermissionList" resultMap="FunctionPermissionListResult" parameterType="functionPermission" >
        SELECT
			a.function_id,
			a.function_permission_code,
			a.function_permission_name
		FROM auth_function_permission a
		WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="FunctionPermissionWhere" />
        </trim>
	</select>

    <!-- 功能权限 (分页查询) -->
    <resultMap id="FunctionPermissionListPageResult" type="java.util.HashMap">
		<result column="function_id" property="functionId"/>
		<result column="function_permission_code" property="functionPermissionCode"/>
		<result column="function_permission_name" property="functionPermissionName"/>
    </resultMap>
    <select id="getFunctionPermissionListPage" resultMap="FunctionPermissionListPageResult" parameterType="map" >
        SELECT
			a.function_id,
			a.function_permission_code,
			a.function_permission_name
        FROM auth_function_permission a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="FunctionPermissionWhere" />
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
    </select>

</mapper>