<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.authority.dao.UserRoleDao">

    <sql id="UserRoleWhere">
        <if test="userId != null">
            AND a.user_id=#{userId}
        </if>
        <if test="roleId != null">
            AND a.role_id=#{roleId}
        </if>
    </sql>

    <sql id="UserRoleModifyWhere">
        <if test="where.userId != null">
            AND user_id=#{where.userId}
        </if>
        <if test="where.roleId != null">
            AND role_id=#{where.roleId}
        </if>
    </sql>

    <insert id="insertUserRole" parameterType="userRole">
        INSERT INTO auth_user_role (
        <trim prefix="" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        ) VALUES (
        <trim prefix="" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
        )
    </insert>

    <delete id="deleteUserRole" parameterType="userRole">
        DELETE FROM auth_user_role
        <where>
            <include refid="UserRoleModifyWhere"/>
        </where>
    </delete>

    <update id="updateUserRole" parameterType="userRole">
        UPDATE auth_user_role
        <set>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="roleId != null">
                role_id=#{roleId},
            </if>
        </set>
        <where>
            <include refid="UserRoleModifyWhere"/>
        </where>
    </update>

    <!-- 用户角色 (单条查询) -->
    <resultMap id="UserRoleResult" type="userRole">
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
    </resultMap>
    <select id="getUserRole" resultMap="UserRoleResult" parameterType="userRole">
        SELECT
        a.user_id,
        a.role_id,
        b.role_code,
        b.role_name
        FROM auth_user_role a
        LEFT JOIN auth_role b on a.role_id = b.role_id
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="UserRoleWhere"/>
        </trim>
    </select>

    <!-- 用户角色 (列表查询) -->
    <resultMap id="UserRoleListResult" type="userRole">
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
    </resultMap>
    <select id="getUserRoleList" resultMap="UserRoleListResult" parameterType="userRole">
        SELECT
        a.user_id,
        a.role_id,
        b.role_code,
        b.role_name
        FROM auth_user_role a
        LEFT JOIN auth_role b on a.role_id = b.role_id
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="UserRoleWhere"/>
        </trim>
    </select>

    <!-- 用户角色 (分页查询) -->
    <resultMap id="UserRoleListPageResult" type="java.util.HashMap">
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>
    <select id="getUserRoleListPage" resultMap="UserRoleListPageResult" parameterType="map">
        SELECT
        a.user_id,
        a.role_id
        FROM auth_user_role a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="UserRoleWhere"/>
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
    </select>

</mapper>