<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.authority.dao.UserPermissionDao">

	<sql id="UserPermissionWhere">
		<if test="userId != null">
            AND a.user_id=#{userId}
		</if>
		<if test="userAccount != null">
            AND a.user_account=#{userAccount}
		</if>
		<if test="loginType != null">
            AND a.login_type=#{loginType}
		</if>
	</sql>
	
	<sql id="UserPermissionModifyWhere">
		<if test="where.userId != null">
            AND user_id=#{where.userId}
		</if>
		<if test="where.userAccount != null">
            AND user_account=#{where.userAccount}
		</if>
		<if test="where.loginType != null">
            AND login_type=#{where.loginType}
		</if>
	</sql>
	
	<insert id="insertUserPermission" parameterType="userPermission">
		INSERT INTO auth_user_permission (
        <trim prefix="" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="userAccount != null">
				user_account,
			</if>
			<if test="loginType != null">
				login_type,
			</if>
		</trim>
		) VALUES (
        <trim prefix="" suffixOverrides=",">
	       	<if test="userId != null">
				#{userId},
			</if>
	       	<if test="userAccount != null">
				#{userAccount},
			</if>
	       	<if test="loginType != null">
				#{loginType},
			</if>
		</trim>
		)
	</insert>

    <delete id="deleteUserPermission" parameterType="userPermission">
        DELETE FROM auth_user_permission
        <where>
            <include refid="UserPermissionModifyWhere" />
        </where>
    </delete>

    <update id="updateUserPermission" parameterType="userPermission">
		UPDATE auth_user_permission
        <set>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="userAccount != null">
				user_account=#{userAccount},
			</if>
			<if test="loginType != null">
				login_type=#{loginType},
			</if>
		</set>
        <where>
			<include refid="UserPermissionModifyWhere" />
		</where>
	</update>

    <!-- 用户登录权限 (单条查询) -->
    <resultMap id="UserPermissionResult" type="userPermission">
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="login_type" property="loginType"/>
    </resultMap>
    <select id="getUserPermission" resultMap="UserPermissionResult" parameterType="userPermission" >
        SELECT
			a.user_id,
			a.user_account,
			a.login_type
        FROM auth_user_permission a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="UserPermissionWhere" />
        </trim>
    </select>

    <!-- 用户登录权限 (列表查询) -->
    <resultMap id="UserPermissionListResult" type="userPermission">
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="login_type" property="loginType"/>
    </resultMap>
	<select id="getUserPermissionList" resultMap="UserPermissionListResult" parameterType="userPermission" >
        SELECT
			a.user_id,
			a.user_account,
			a.login_type
		FROM auth_user_permission a
		WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="UserPermissionWhere" />
        </trim>
	</select>

    <!-- 用户登录权限 (分页查询) -->
    <resultMap id="UserPermissionListPageResult" type="java.util.HashMap">
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="login_type" property="loginType"/>
    </resultMap>
    <select id="getUserPermissionListPage" resultMap="UserPermissionListPageResult" parameterType="map" >
        SELECT
			a.user_id,
			a.user_account,
			a.login_type
        FROM auth_user_permission a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="UserPermissionWhere" />
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
    </select>

</mapper>