<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 定义日志文件 输入位置 -->
    <property name="log.path" value="../logs"/>
    <!-- 日志最大的历史 30天 -->
    <property name="maxHistory" value="30"/>

    <!--springmvc-->
    <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="ERROR"/>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="ERROR"/>
    <logger name="org.springframework.web.cors.DefaultCorsProcessor" level="ERROR"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR"/>
    <!--mybatis-->
    <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="ERROR"/>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="ERROR"/>
    <!--jdbc-->
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="ERROR"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="ERROR"/>
    <!--sql-->
    <logger name="java.sql.Connection" level="ERROR"/>
    <logger name="java.sql.Statement"/>
    <logger name="java.sql.PreparedStatement"/>
    <logger name="java.sql.ResultSet"/>
    <!--json-->
    <logger name="net.sf.json.JSONObject" level="ERROR"/>
    <!--应用-->
    <logger name="com.flysnow"/>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 文件输出日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyyMMdd}/log.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到数据库的配置 -->
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://localhost:3306/comd?characterEncoding=utf8</url>
            <user>root</user>
            <password>root</password>
        </connectionSource>
    </appender>

    <root level="DEBUG">
        <!-- 控制台输出 -->
        <appender-ref ref="STDOUT"/>
        <!-- 文件输出 -->
        <appender-ref ref="FILE"/>

        <!--数据库-->
        <!--<appender-ref ref="DB"/>-->
    </root>
</configuration>