<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.authority.dao.RoleFunctionDao">

	<sql id="RoleFunctionWhere">
		<if test="roleId != null">
            AND a.role_id=#{roleId}
		</if>
		<if test="functionId != null">
            AND a.function_id=#{functionId}
		</if>
		<if test="functionPermission != null">
            AND a.function_permission=#{functionPermission}
		</if>
	</sql>
	
	<sql id="RoleFunctionModifyWhere">
		<if test="where.roleId != null">
            AND role_id=#{where.roleId}
		</if>
		<if test="where.functionId != null">
            AND function_id=#{where.functionId}
		</if>
		<if test="where.functionPermission != null">
            AND function_permission=#{where.functionPermission}
		</if>
	</sql>
	
	<insert id="insertRoleFunction" parameterType="roleFunction">
		INSERT INTO auth_role_function (
        <trim prefix="" suffixOverrides=",">
			<if test="roleId != null">
				role_id,
			</if>
			<if test="functionId != null">
				function_id,
			</if>
			<if test="functionPermission != null">
				function_permission,
			</if>
		</trim>
		) VALUES (
        <trim prefix="" suffixOverrides=",">
	       	<if test="roleId != null">
				#{roleId},
			</if>
	       	<if test="functionId != null">
				#{functionId},
			</if>
	       	<if test="functionPermission != null">
				#{functionPermission},
			</if>
		</trim>
		)
	</insert>

    <delete id="deleteRoleFunction" parameterType="roleFunction">
        DELETE FROM auth_role_function
        <where>
            <include refid="RoleFunctionModifyWhere" />
        </where>
    </delete>

    <update id="updateRoleFunction" parameterType="roleFunction">
		UPDATE auth_role_function
        <set>
			<if test="roleId != null">
				role_id=#{roleId},
			</if>
			<if test="functionId != null">
				function_id=#{functionId},
			</if>
			<if test="functionPermission != null">
				function_permission=#{functionPermission},
			</if>
		</set>
        <where>
			<include refid="RoleFunctionModifyWhere" />
		</where>
	</update>

    <!-- 角色功能 (单条查询) -->
    <resultMap id="RoleFunctionResult" type="roleFunction">
		<result column="role_id" property="roleId"/>
		<result column="function_id" property="functionId"/>
		<result column="function_permission" property="functionPermission"/>
    </resultMap>
    <select id="getRoleFunction" resultMap="RoleFunctionResult" parameterType="roleFunction" >
        SELECT
			a.role_id,
			a.function_id,
			a.function_permission
        FROM auth_role_function a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="RoleFunctionWhere" />
        </trim>
    </select>

    <!-- 角色功能 (列表查询) -->
    <resultMap id="RoleFunctionListResult" type="roleFunction">
		<result column="role_id" property="roleId"/>
		<result column="function_id" property="functionId"/>
		<result column="function_permission" property="functionPermission"/>
    </resultMap>
	<select id="getRoleFunctionList" resultMap="RoleFunctionListResult" parameterType="roleFunction" >
        SELECT
			a.role_id,
			a.function_id,
			a.function_permission
		FROM auth_role_function a
		WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="RoleFunctionWhere" />
        </trim>
	</select>

    <!-- 角色功能 (分页查询) -->
    <resultMap id="RoleFunctionListPageResult" type="java.util.HashMap">
		<result column="role_id" property="roleId"/>
		<result column="function_id" property="functionId"/>
		<result column="function_permission" property="functionPermission"/>
    </resultMap>
    <select id="getRoleFunctionListPage" resultMap="RoleFunctionListPageResult" parameterType="map" >
        SELECT
			a.role_id,
			a.function_id,
			a.function_permission
        FROM auth_role_function a
        WHERE 1=1
        <trim prefix="" prefixOverrides="">
            <include refid="RoleFunctionWhere" />
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
    </select>

</mapper>